## 데이터 불러오고 정규화

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, Ridge, SGDRegressor
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor


df = pd.read_csv('생산자물가_전월로.csv', encoding = 'cp949')

In [ ]:
df

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,9-9강수(mm),연,월,일,연속강수,가격,소비자물가,강수량ox,30일강우횟수,생산자물가
0,춘천,2016-02-01,-6.1,-12.0,0.8,0.0,0.0,0.0,0.0,6.3,...,0.0,2016,2,1,0,5950,96.628,0,0,119.28
1,서울,2016-02-01,-6.0,-9.1,-1.0,0.0,0.0,0.0,0.0,8.1,...,0.0,2016,2,1,0,5404,96.628,0,0,119.28
2,인천,2016-02-01,-5.4,-7.4,-2.4,0.0,0.0,0.0,0.0,9.0,...,0.0,2016,2,1,0,3500,96.628,0,0,119.28
3,수원,2016-02-01,-4.9,-8.0,-0.4,0.0,0.0,0.0,0.0,7.5,...,0.0,2016,2,1,0,4180,96.628,0,0,119.28
4,청주,2016-02-01,-4.6,-7.0,-0.7,0.0,0.0,0.0,0.0,7.9,...,0.0,2016,2,1,0,5030,96.628,0,0,119.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42894,창원,2018-01-26,-7.4,-12.0,-2.6,0.0,0.0,0.0,0.0,8.6,...,0.0,2018,1,26,0,4740,74.482,0,0,93.23
42895,광주,2018-01-26,-7.9,-10.8,-3.6,0.0,0.0,0.0,0.0,9.2,...,0.0,2018,1,26,0,5273,74.482,0,0,93.23
42896,부산,2018-01-26,-5.4,-9.9,0.3,0.0,0.0,0.0,0.0,11.8,...,0.0,2018,1,26,0,4093,74.482,0,0,93.23
42897,순천,2018-01-26,-9.2,-12.5,-4.2,0.0,0.0,0.0,0.0,13.5,...,0.0,2018,1,26,0,4080,74.482,0,0,93.23
42898,강릉,2018-01-26,-9.3,-13.8,-3.5,0.0,0.0,0.0,0.0,9.1,...,0.0,2018,1,26,0,5000,74.482,0,0,93.23

In [ ]:
생산자물가=pd.read_csv('생산자물가지수.csv',encoding='cp949')
생산자물가

,계정코드별,항목,단위,2016.01 월,2016.02 월,2016.03 월,2016.04 월,2016.05 월,2016.06 월,2016.07 월,...,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,2023.03 월,2023.04 월,2023.05 월,2023.06 월,Unnamed: 93
0,총지수,생산자물가지수(품목별),2015=100,97.56,97.56,97.50,97.74,97.86,98.09,97.98,...,120.68,120.29,119.79,120.25,120.46,120.59,120.50,120.03,119.84,NaN
1,쌀,생산자물가지수(품목별),2015=100,92.42,92.01,91.44,91.21,90.98,90.62,90.27,...,118.95,118.39,117.92,114.04,113.58,113.13,112.48,112.78,115.02,NaN
2,무연탄,생산자물가지수(품목별),2015=100,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,125.86,125.86,125.86,125.86,125.86,125.86,125.86,125.86,125.86,NaN
3,햄및베이컨,생산자물가지수(품목별),2015=100,94.76,96.48,96.93,95.71,96.27,95.78,95.50,...,119.07,119.65,119.12,121.09,121.43,122.72,124.19,123.17,123.17,NaN
4,순면사,생산자물가지수(품목별),2015=100,98.01,98.66,98.01,96.32,96.32,96.81,99.83,...,148.38,142.62,133.53,131.95,134.17,134.17,133.61,136.03,134.26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,고무패킹,생산자물가지수(품목별),2015=100,91.01,91.01,91.01,91.01,90.53,90.53,90.53,...,92.02,92.02,92.02,92.02,92.02,92.02,92.02,92.02,92.02,NaN
901,고무스폰지및발포성제품,생산자물가지수(품목별),2015=100,99.88,99.88,99.88,99.88,99.88,99.88,99.88,...,99.88,99.88,99.88,99.88,99.88,113.08,113.08,118.33,118.33,NaN
902,배합고무,생산자물가지수(품목별),2015=100,93.17,90.71,87.08,85.77,85.77,85.77,85.41,...,111.73,112.41,112.41,110.72,109.99,107.41,106.03,106.03,106.03,NaN
903,방진고무,생산자물가지수(품목별),2015=100,94.66,94.66,94.66,94.66,94.66,94.66,94.66,...,107.15,107.15,107.15,107.15,107.89,108.11,108.11,108.11,108.11,NaN
904,고무매트,생산자물가지수(품목별),2015=100,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,113.89,113.89,113.89,113.89,113.89,113.89,113.89,113.89,113.89,NaN

In [ ]:
시금치물가=생산자물가[생산자물가['계정코드별']=='시금치']

In [ ]:
시금치물가=시금치물가.T[3:-1]

In [ ]:
시금치물가=시금치물가.reset_index()

In [ ]:
시금치물가['시금치생산자물가']=시금치물가[157].copy()

In [ ]:
a=[]
for i in 시금치물가['index']:
    a.append("".join(i.split('.')))
시금치물가['날짜']=pd.DataFrame(a)

a=[]
for i in 시금치물가['날짜']:
    a.append("".join(i.split('월')))
시금치물가['날짜']=pd.DataFrame(a)

시금치물가['날짜']=시금치물가['날짜'].astype('int32')
시금치물가['연']=시금치물가['날짜']//100
시금치물가['월']=시금치물가['날짜']%100

In [ ]:
시금치물가.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     90 non-null     object
 1   157       90 non-null     object
 2   시금치생산자물가  90 non-null     object
 3   날짜        90 non-null     int32
 4   연         90 non-null     int32
 5   월         90 non-null     int32
dtypes: int32(3), object(3)
memory usage: 3.3+ KB

In [ ]:
시금치물가['시금치생산자물가']=시금치물가['시금치생산자물가'].astype('float64')

In [ ]:
시금치물가.drop(['index',157,'날짜'],axis=1,inplace=True)

In [ ]:
시금치물가

    시금치생산자물가     연  월
0      81.73  2016  1
1      93.81  2016  2
2      77.68  2016  3
3      73.92  2016  4
4      89.48  2016  5
..       ...   ... ..
85    112.25  2023  2
86     92.89  2023  3
87     96.73  2023  4
88    119.11  2023  5
89    140.48  2023  6

[90 rows x 3 columns]

In [ ]:
시금치물가['흑흑']=시금치물가['연']*100+시금치물가['월']

In [ ]:
시금치물가

    시금치생산자물가     연  월      흑흑
0      81.73  2016  1  201602
1      93.81  2016  2  201603
2      77.68  2016  3  201604
3      73.92  2016  4  201605
4      89.48  2016  5  201606
..       ...   ... ..     ...
85    112.25  2023  2  202303
86     92.89  2023  3  202304
87     96.73  2023  4  202305
88    119.11  2023  5  202306
89    140.48  2023  6  202307

[90 rows x 4 columns]

In [ ]:
시금치물가['흑흑']=시금치물가['흑흑']+1

In [ ]:
a=[]
for i in 시금치물가['흑흑']:
    if i%100==13:
        i=((i//100+1)*100)+1
        a.append(i)
    else:
        a.append(i)
시금치물가['됐나?']=pd.DataFrame(a)

In [ ]:
np.unique(시금치물가['됐나?'])

array([201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609,
       201610, 201611, 201612, 201701, 201702, 201703, 201704, 201705,
       201706, 201707, 201708, 201709, 201710, 201711, 201712, 201801,
       201802, 201803, 201804, 201805, 201806, 201807, 201808, 201809,
       201810, 201811, 201812, 201901, 201902, 201903, 201904, 201905,
       201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001,
       202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009,
       202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105,
       202106, 202107, 202108, 202109, 202110, 202111, 202112, 202201,
       202202, 202203, 202204, 202205, 202206, 202207, 202208, 202209,
       202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305,
       202306, 202307])

In [ ]:
시금치물가['연']=시금치물가['됐나?']//100
시금치물가['월']=시금치물가['됐나?']%100
시금치물가

    시금치생산자물가     연  월      흑흑     됐나?
0      81.73  2016  2  201602  201602
1      93.81  2016  3  201603  201603
2      77.68  2016  4  201604  201604
3      73.92  2016  5  201605  201605
4      89.48  2016  6  201606  201606
..       ...   ... ..     ...     ...
85    112.25  2023  3  202303  202303
86     92.89  2023  4  202304  202304
87     96.73  2023  5  202305  202305
88    119.11  2023  6  202306  202306
89    140.48  2023  7  202307  202307

[90 rows x 5 columns]

In [ ]:
시금치물가.drop(['흑흑','됐나?'],axis=1,inplace=True)

In [ ]:
시금치물가.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시금치생산자물가  90 non-null     float64
 1   연         90 non-null     int64
 2   월         90 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 2.2 KB

In [ ]:
df1.drop(['시금치생산자물가'],axis=1,inplace=True)

In [ ]:
df1=df1.merge(시금치물가,on=['연','월'])

In [ ]:
df1

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,월,일,연속강수,가격,소비자물가,강수량ox,30일강우횟수,생산자물가,시금치가격,시금치생산자물가
0,춘천,2016-02-01,-6.1,-12.0,0.8,0.00,0.0,0.0,0.0,6.3,...,2,1,0,5950,96.628,0,0,119.28,5500,81.73
1,서울,2016-02-01,-6.0,-9.1,-1.0,0.00,0.0,0.0,0.0,8.1,...,2,1,0,5404,96.628,0,0,119.28,5550,81.73
2,인천,2016-02-01,-5.4,-7.4,-2.4,0.00,0.0,0.0,0.0,9.0,...,2,1,0,3500,96.628,0,0,119.28,4500,81.73
3,수원,2016-02-01,-4.9,-8.0,-0.4,0.00,0.0,0.0,0.0,7.5,...,2,1,0,4180,96.628,0,0,119.28,5750,81.73
4,청주,2016-02-01,-4.6,-7.0,-0.7,0.00,0.0,0.0,0.0,7.9,...,2,1,0,5030,96.628,0,0,119.28,5475,81.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38230,창원,2021-04-30,16.8,11.3,22.6,1.83,0.6,0.9,1.0,15.4,...,4,30,1,5125,99.560,0,0,170.77,5160,79.63
38231,광주,2021-04-30,14.7,10.1,19.7,3.32,0.3,0.3,0.3,9.8,...,4,30,2,5360,99.560,0,0,170.77,6775,79.63
38232,부산,2021-04-30,16.8,12.9,21.7,1.50,0.6,1.1,1.1,21.5,...,4,30,1,4997,99.560,0,1,170.77,6775,79.63
38233,순천,2021-04-30,14.3,8.0,19.2,0.00,0.7,3.1,5.8,19.7,...,4,30,2,5165,99.560,0,0,170.77,6690,79.63
38234,강릉,2021-04-30,11.4,9.1,16.7,0.00,1.6,7.1,23.3,8.9,...,4,30,2,5995,99.560,0,0,170.77,6440,79.63

In [ ]:
시금치=pd.read_csv('시금치.csv',encoding='cp949')

In [ ]:
시금치.drop(['1주전','1개월전','1년전'],axis=1,inplace=True)
시금치

        구분     당일          날짜
0       서울   4807  2016-01-01
1       부산   6365  2016-01-01
2       대구   6465  2016-01-01
3       인천   3500  2016-01-01
4       광주   6465  2016-01-01
...    ...    ...         ...
46588   포항  18770  2023-07-30
46589   안동  27200  2023-07-30
46590   창원  20950  2023-07-30
46591  김해시  32900  2023-07-30
46592   제주  23840  2023-07-30

[46593 rows x 3 columns]

In [ ]:
시금치['지역']=시금치['구분'].copy()
시금치['시금치가격']=시금치['당일'].copy()

In [ ]:
시금치.drop(['구분','당일'],axis=1,inplace=True)
시금치

               날짜   지역  시금치가격
0      2016-01-01   서울   4807
1      2016-01-01   부산   6365
2      2016-01-01   대구   6465
3      2016-01-01   인천   3500
4      2016-01-01   광주   6465
...           ...  ...    ...
46588  2023-07-30   포항  18770
46589  2023-07-30   안동  27200
46590  2023-07-30   창원  20950
46591  2023-07-30  김해시  32900
46592  2023-07-30   제주  23840

[46593 rows x 3 columns]

In [ ]:
df1=df.merge(시금치,on=['날짜','지역'])

In [ ]:
df1

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,월,일,연속강수,가격,소비자물가,강수량ox,30일강우횟수,생산자물가,시금치가격,시금치생산자물가
0,춘천,2016-02-01,-6.1,-12.0,0.8,0.00,0.0,0.0,0.0,6.3,...,2,1,0,5950,96.628,0,0,119.28,5500,93.81
1,서울,2016-02-01,-6.0,-9.1,-1.0,0.00,0.0,0.0,0.0,8.1,...,2,1,0,5404,96.628,0,0,119.28,5550,93.81
2,인천,2016-02-01,-5.4,-7.4,-2.4,0.00,0.0,0.0,0.0,9.0,...,2,1,0,3500,96.628,0,0,119.28,4500,93.81
3,수원,2016-02-01,-4.9,-8.0,-0.4,0.00,0.0,0.0,0.0,7.5,...,2,1,0,4180,96.628,0,0,119.28,5750,93.81
4,청주,2016-02-01,-4.6,-7.0,-0.7,0.00,0.0,0.0,0.0,7.9,...,2,1,0,5030,96.628,0,0,119.28,5475,93.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38230,창원,2021-04-30,16.8,11.3,22.6,1.83,0.6,0.9,1.0,15.4,...,4,30,1,5125,99.560,0,0,170.77,5160,89.46
38231,광주,2021-04-30,14.7,10.1,19.7,3.32,0.3,0.3,0.3,9.8,...,4,30,2,5360,99.560,0,0,170.77,6775,89.46
38232,부산,2021-04-30,16.8,12.9,21.7,1.50,0.6,1.1,1.1,21.5,...,4,30,1,4997,99.560,0,1,170.77,6775,89.46
38233,순천,2021-04-30,14.3,8.0,19.2,0.00,0.7,3.1,5.8,19.7,...,4,30,2,5165,99.560,0,0,170.77,6690,89.46
38234,강릉,2021-04-30,11.4,9.1,16.7,0.00,1.6,7.1,23.3,8.9,...,4,30,2,5995,99.560,0,0,170.77,6440,89.46

In [ ]:
# x데이터, y데이터 분류
y = df1[df1['지역']=='서울']['시금치가격']
x = df1[df1['지역']=='서울'].drop(['시금치가격','날짜','생산자물가','소비자물가','가격','지역'], axis = 1)

# train데이터, test데이터 분류
tr_x, tt_x, tr_y, tt_y = train_test_split(x, y, random_state = 3, test_size = 0.2)
tr_x.shape, tt_x.shape, tr_y.shape, tt_y.shape

# train데이터를 기준으로 minmax스케일러 적용
mms = MinMaxScaler().fit(tr_x)
mms_train_x = mms.transform(tr_x)
mms_test_x = mms.transform(tt_x)

In [ ]:
x,y

(       평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  10분 최다 강수량(mm)  \
 1          -6.0      -9.1      -1.0         0.00             0.0
 13         -5.3     -10.0       0.9         0.00             0.0
 26         -2.4      -8.3       4.0         0.00             0.0
 39         -0.7      -4.0       3.9         0.00             0.0
 52         -2.2      -6.8       3.4         0.00             0.0
 ...         ...       ...       ...          ...             ...
 38165      16.2      12.3      20.6         0.00             0.0
 38179      15.4      12.5      20.0         4.00             2.2
 38193      14.5      11.2      18.2         1.33             1.4
 38207      14.6      10.9      20.1         4.33             1.2
 38221      11.3       8.6      14.6         9.75             1.8

        1시간 최다강수량(mm)  일강수량(mm)  최대 순간 풍속(m/s)  최대 풍속(m/s)  평균 풍속(m/s)  ...  \
 1                0.0       0.0            8.1         5.0         3.0  ...
 13               0.0       0.0            6.6         4.4         2.2  ...
 26               0.0       0.0            7.8         4.8         1.9  ...
 39               0.0       0.0            9.7         6.1         2.4  ...
 52               0.0       0.0            8.3         5.4         2.5  ...
 ...              ...       ...            ...         ...         ...  ...
 38165            0.0       0.0            8.5         4.6         2.6  ...
 38179            5.8       1.7            9.0         5.0         2.3  ...
 38193            4.7       4.7            9.7         4.8         2.4  ...
 38207            4.3       3.9           11.0         6.4         2.3  ...
 38221            8.9      26.3            8.5         5.2         2.4  ...

        평균 지면온도(°C)  최저 초상온도(°C)  9-9강수(mm)     연  월   일  연속강수  강수량ox  30일강우횟수  \
 1             -2.7        -11.1        0.0  2016  2   1     0      0        0
 13            -3.0        -14.8        0.0  2016  2   2     0      0        0
 26            -1.8        -15.9        0.0  2016  2   3     0      0        0
 39            -0.5        -12.2        0.0  2016  2   4     0      0        0
 52            -0.9        -12.2        0.0  2016  2   5     0      0        0
 ...            ...          ...        ...   ... ..  ..   ...    ...      ...
 38165         20.1          6.8        0.0  2021  4  26     0      0        1
 38179         17.3          5.2        6.4  2021  4  27     1      0        1
 38193         16.3          8.7        0.0  2021  4  28     2      0        1
 38207         16.9          6.7       30.2  2021  4  29     3      0        1
 38221         12.8          7.1        0.3  2021  4  30     4      0        1

        시금치생산자물가
 1         93.81
 13        93.81
 26        93.81
 39        93.81
 52        93.81
 ...         ...
 38165     89.46
 38179     89.46
 38193     89.46
 38207     89.46
 38221     89.46

 [2639 rows x 33 columns],
 1        5550
 13       5767
 26       5850
 39       6230
 52       6230
          ...
 38165    5484
 38179    5484
 38193    5514
 38207    5534
 38221    5568
 Name: 시금치가격, Length: 2639, dtype: object)

## 모델 테스트

In [ ]:
# 리니어모델 테스트

linear_m = LinearRegression()
linear_m.fit(mms_train_x, tr_y)

print(cross_val_score(linear_m, mms_train_x, tr_y).mean())
print(linear_m.score(mms_train_x, tr_y), linear_m.score(mms_test_x, tt_y))

0.6332125913621749
0.6516560753953582 0.6129904754218596

In [ ]:
# 디시젼트리모델 테스트
decision_m = DecisionTreeRegressor()
decision_m.fit(mms_train_x, tr_y)

print(cross_val_score(decision_m, mms_train_x, tr_y).mean())
print(decision_m.score(mms_train_x, tr_y), decision_m.score(mms_test_x, tt_y))

0.9389865808810525
1.0 0.9457313092512376

In [ ]:
# 1번
#q = PolynomialFeatures(degree = 5)
#x_q = q.fit_transform(mms_train_x)
#x_tt_q = q.transform(mms_test_x)

m = Lasso()
m.fit(mms_train_x, tr_y)
print(cross_val_score(m, mms_train_x, tr_y).mean())
print(m.score(mms_train_x, tr_y), m.score(mms_test_x, tt_y))


m1 = Ridge()
m1.fit(mms_train_x, tr_y)
print(cross_val_score(m1, mms_train_x, tr_y).mean())
print(m1.score(mms_train_x, tr_y), m1.score(mms_test_x, tt_y))


m2 = SGDRegressor(max_iter=100, shuffle=False)#, verbose=1)#, eta0=1e-4)
m2.fit(mms_train_x, tr_y)
print(cross_val_score(m2, mms_train_x, tr_y).mean())
print(m2.score(mms_train_x, tr_y), m2.score(mms_test_x, tt_y))

0.7917118258398332
0.7993691893522844 0.7582954388745919
0.79091759133287
0.7991969690504441 0.756622000299771

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

0.7835152632009846
0.7915207936333893 0.749510181398873

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1548: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

tr_x, tt_x, tr_y, tt_y = train_test_split(x, y, test_size=0.2, random_state=42)

#그리드서치 파라미터 키값으로 모델 파라미터 이름, 밸류값으로 파라미터에 넣을 값 리스트로
param = {
    'n_estimators': [50,100,150],
    'max_features':[6,7,8,9,10,15,20,len(x.columns)]
}

#스케일링
mms = MinMaxScaler().fit(tr_x)
mms_train_x = mms.transform(tr_x)
mms_test_x = mms.transform(tt_x)

#랜덤포레스트 모델 생성 및 학습
rf = RandomForestRegressor(random_state=42)
rf.fit(mms_train_x,tr_y)
print("랜덤포레스트 피처중요도", rf.feature_importances_) #중요도 총합 1로 오름차순 출력

#그리드서치 하이퍼파라미터 찾기
grid_search = GridSearchCV(estimator=rf, param_grid=param, cv=5, n_jobs=-1, verbose=1)
grid_search.fit(mms_train_x, tr_y)

#그리드서치 결과물 출력 파라미터, 점수 등
print("Best Parameters:", grid_search.best_params_)
print("Best Accuracy:", grid_search.best_score_)
print("Best_estimator", grid_search.best_estimator_)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Best Parameters: {'max_features': 33, 'n_estimators': 150}
Best Accuracy: 0.9624672082383672
Best_estimator RandomForestRegressor(max_features=33, n_estimators=150, random_state=42)

In [ ]:
print("Best_estimator", grid_search.best_estimator_)

Best_estimator RandomForestRegressor(max_features=6, n_estimators=150, random_state=42)

In [ ]:
len(x.columns)

33

In [ ]:
rf = RandomForestRegressor(random_state=42)
rf.fit(mms_train_x,tr_y)
print(rf.feature_importances_[3])

0.000794392427398803

In [ ]:
len(rf)

100

In [ ]:
c_l=[]
for i in range(len(tr_x.columns)):
    c_l.append((rf.feature_importances_[i], tr_x.columns[i]))
c_l.sort(reverse=True)
c_l

[(0.47713441443146704, '시금치생산자물가'),
 (0.2528359071302399, '가조시간(hr)'),
 (0.10452808556868884, '연'),
 (0.06102413696320444, '30일강우횟수'),
 (0.024705472191385133, '일'),
 (0.01626917672248701, '최저 초상온도(°C)'),
 (0.015226982484457103, '월'),
 (0.0060783528607287265, '평균 지면온도(°C)'),
 (0.004782295380156326, '최저기온(°C)'),
 (0.004388159343733609, '최고 해면기압(hPa)'),
 (0.003972607131725678, '평균 증기압(hPa)'),
 (0.003918301497802433, '평균기온(°C)'),
 (0.0038400938242668585, '평균 이슬점온도(°C)'),
 (0.003514012142434925, '최고기온(°C)'),
 (0.002304331363858267, '합계 일조시간(hr)'),
 (0.002085881365637039, '평균 풍속(m/s)'),
 (0.0018367142112831814, '최저 해면기압(hPa)'),
 (0.0017512693500981974, '평균 상대습도(%)'),
 (0.0017453608096446198, '평균 해면기압(hPa)'),
 (0.001481180621673467, '평균 현지기압(hPa)'),
 (0.0012529847792273892, '최소 상대습도(%)'),
 (0.0012446862254995483, '최대 풍속(m/s)'),
 (0.0009602993625878587, '9-9강수(mm)'),
 (0.0008637298546778883, '최대 순간 풍속(m/s)'),
 (0.000794392427398803, '강수 계속시간(hr)'),
 (0.0005229725201446885, '일강수량(mm)'),
 (0.00038481306812764195, '연속강수'),
 (0.00025320065645233273, '10분 최다 강수량(mm)'),
 (0.0001561143926529918, '1시간 최다강수량(mm)'),
 (7.59925865315684e-05, '강수량ox'),
 (5.300466653500509e-05, '일 최심적설(cm)'),
 (8.085287501021599e-06, '합계 3시간 신적설(cm)'),
 (6.988777690528213e-06, '일 최심신적설(cm)')]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV

# 데이터 로드
y = df1[df1['지역']=='서울']['시금치가격'].values
x = df1[df1['지역']=='서울'].drop(['시금치가격','생산자물가','날짜','가격','지역'], axis = 1)

tr_x, tt_x, tr_y, tt_y = train_test_split(x, y, test_size=0.2, random_state=42)

param = {
    'n_estimators': [30,50,100,150],
    'learning_rate': [0.01, 0.1, 0.2],
}

mms = MinMaxScaler().fit(tr_x)
mms_train_x = mms.transform(tr_x)
mms_test_x = mms.transform(tt_x)

# 그래디언트 부스팅 모델 생성 및 학습
gb = GradientBoostingRegressor(random_state=42)
grid_search = GridSearchCV(estimator=gb, param_grid=param, cv=5, n_jobs=-1, verbose=1)
grid_search.fit(mms_train_x, tr_y)
print("Best Parameters:", grid_search.best_params_)
print("Best Accuracy:", grid_search.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best Parameters: {'learning_rate': 0.2, 'n_estimators': 150}
Best Accuracy: 0.9343490621713079

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import GridSearchCV

# 데이터 로드
y = df1[df1['지역']=='서울']['시금치가격'].values
x = df1[df1['지역']=='서울'].drop(['시금치가격','생산자물가','날짜','가격','지역'], axis = 1)

tr_x, tt_x, tr_y, tt_y = train_test_split(x, y, test_size=0.2, random_state=42)

param = {
    'n_estimators': [30, 50, 100, 150,200,300],
    'learning_rate': [0.01, 0.1, 0.2],
}

mms = MinMaxScaler().fit(tr_x)
mms_train_x = mms.transform(tr_x)
mms_test_x = mms.transform(tt_x)

# 그래디언트 부스팅 모델 생성 및 학습
ab = AdaBoostRegressor(random_state=42)
grid_search = GridSearchCV(estimator=ab, param_grid=param, cv=5, n_jobs=-1, verbose=1)
grid_search.fit(mms_train_x, tr_y)
print("Best Parameters:", grid_search.best_params_)
print("Best Accuracy:", grid_search.best_score_)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
Best Parameters: {'learning_rate': 0.2, 'n_estimators': 100}
Best Accuracy: 0.846824926414984

In [ ]:
df1.drop(['소비자물가'],axis=1,inplace=True)

In [ ]:
df1=df1.sort_values('날짜')

In [ ]:
df1['토마토가격']=df1['가격'].copy()
df1['토마토생산자물기']=df1['생산자물가'].copy()
df1.drop(['가격','생산자물가'],axis=1,inplace=True)

In [ ]:
df1

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,연,월,일,연속강수,강수량ox,30일강우횟수,시금치가격,시금치생산자물가,토마토가격,토마토생산자물기
0,춘천,2016-02-01,-6.1,-12.0,0.8,0.00,0.0,0.0,0.0,6.3,...,2016,2,1,0,0,0,5500,81.73,5950,119.28
11,순천,2016-02-01,-2.3,-4.3,1.8,0.00,0.0,0.0,0.0,12.7,...,2016,2,1,0,0,0,8180,81.73,7250,119.28
10,광주,2016-02-01,-2.2,-4.0,0.7,0.00,0.0,0.0,0.0,9.4,...,2016,2,1,0,0,0,6340,81.73,6413,119.28
9,창원,2016-02-01,-0.6,-3.2,3.4,0.00,0.0,0.0,0.0,10.9,...,2016,2,1,0,0,0,5500,81.73,6550,119.28
7,전주,2016-02-01,-3.2,-5.5,0.6,0.00,0.0,0.0,0.0,9.2,...,2016,2,1,0,0,0,4500,81.73,6950,119.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34459,인천,2023-06-30,23.9,22.1,26.8,6.25,0.1,0.1,0.2,5.4,...,2023,6,30,2,0,1,9750,119.11,4975,125.02
34458,서울,2023-06-30,25.3,23.2,29.1,11.92,0.2,0.4,1.0,5.9,...,2023,6,30,2,0,2,10021,119.11,4366,125.02
34457,춘천,2023-06-30,24.9,20.4,30.1,0.00,8.3,23.3,34.5,4.8,...,2023,6,30,2,1,2,10100,119.11,4050,125.02
34466,전주,2023-06-30,24.6,23.1,26.8,11.80,6.9,11.0,16.9,6.1,...,2023,6,30,6,0,2,8700,119.11,4630,125.02
34463,안동,2023-06-30,23.9,21.7,26.2,8.53,8.3,21.4,44.5,7.2,...,2023,6,30,5,1,2,8510,119.11,4600,125.02

In [ ]:
df1.to_csv('시금치_토마토_합본.csv',encoding='cp949',index=False)