In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import re


# 데이터프레임 로드
df = pd.read_csv('일일기상데이터.csv', encoding = 'cp949')
df

C:\Users\knzss\AppData\Local\Temp\ipykernel_15800\541483432.py:7: DtypeWarning: Columns (60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('일일기상데이터.csv', encoding = 'cp949')

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr)
0,90,속초,2016-01-01,3.6,-2.3,3.0,7.6,1302.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,속초,2016-01-02,8.4,5.0,23.0,11.5,1508.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90,속초,2016-01-03,6.7,2.4,1937.0,9.8,1032.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,속초,2016-01-04,5.4,0.8,2350.0,9.0,1348.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90,속초,2016-01-05,0.6,-2.6,2228.0,4.4,1337.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,295,남해,2023-07-27,27.1,23.4,357.0,32.4,1459.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251854,295,남해,2023-07-28,26.7,23.9,145.0,30.8,1603.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251855,295,남해,2023-07-29,27.7,23.1,450.0,32.9,1422.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251856,295,남해,2023-07-30,27.0,23.3,522.0,32.0,1350.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251857,295,남해,2023-07-31,27.9,23.4,447.0,33.5,1452.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# 모든 컬럼 결측치 확인하기

for idx, column in enumerate(df.columns):
    print(f'{idx + 1}. {column} : {df[column].isnull().sum()}개')

1. 지점 : 0개
2. 지점명 : 0개
3. 일시 : 0개
4. 평균기온(°C) : 357개
5. 최저기온(°C) : 97개
6. 최저기온 시각(hhmi) : 89개
7. 최고기온(°C) : 94개
8. 최고기온 시각(hhmi) : 89개
9. 강수 계속시간(hr) : 229397개
10. 10분 최다 강수량(mm) : 190796개
11. 10분 최다강수량 시각(hhmi) : 209700개
12. 1시간 최다강수량(mm) : 190802개
13. 1시간 최다 강수량 시각(hhmi) : 208015개
14. 일강수량(mm) : 159269개
15. 최대 순간 풍속(m/s) : 232개
16. 최대 순간 풍속 풍향(16방위) : 227개
17. 최대 순간풍속 시각(hhmi) : 225개
18. 최대 풍속(m/s) : 238개
19. 최대 풍속 풍향(16방위) : 223개
20. 최대 풍속 시각(hhmi) : 221개
21. 평균 풍속(m/s) : 283개
22. 풍정합(100m) : 304개
23. 최다풍향(16방위) : 638개
24. 평균 이슬점온도(°C) : 513개
25. 최소 상대습도(%) : 154개
26. 최소 상대습도 시각(hhmi) : 145개
27. 평균 상대습도(%) : 514개
28. 평균 증기압(hPa) : 516개
29. 평균 현지기압(hPa) : 383개
30. 최고 해면기압(hPa) : 136개
31. 최고 해면기압 시각(hhmi) : 116개
32. 최저 해면기압(hPa) : 195개
33. 최저 해면기압 시각(hhmi) : 115개
34. 평균 해면기압(hPa) : 401개
35. 가조시간(hr) : 35개
36. 합계 일조시간(hr) : 544개
37. 1시간 최다일사 시각(hhmi) : 135392개
38. 1시간 최다일사량(MJ/m2) : 135468개
39. 합계 일사량(MJ/m2) : 135474개
40. 일 최심신적설(cm) : 250292개
41. 일 최심신적설 시각(hhmi) : 250401개
42. 일 최심적설(cm) : 249476개
43. 일 최심적설 시각(hhmi) : 249519개
44. 합계 3시간 신적설(cm) : 250291개
45. 평균 전운량(1/10) : 68401개
46. 평균 중하층운량(1/10) : 73059개
47. 평균 지면온도(°C) : 242개
48. 최저 초상온도(°C) : 332개
49. 평균 5cm 지중온도(°C) : 178281개
50. 평균 10cm 지중온도(°C) : 178242개
51. 평균 20cm 지중온도(°C) : 178178개
52. 평균 30cm 지중온도(°C) : 178217개
53. 0.5m 지중온도(°C) : 218941개
54. 1.0m 지중온도(°C) : 218937개
55. 1.5m 지중온도(°C) : 218938개
56. 3.0m 지중온도(°C) : 218939개
57. 5.0m 지중온도(°C) : 218948개
58. 합계 대형증발량(mm) : 141334개
59. 합계 소형증발량(mm) : 139848개
60. 9-9강수(mm) : 232108개
61. 기사 : 212454개
62. 안개 계속시간(hr) : 247477개

In [4]:
import re

# 시각이 포함된 컬럼 추출
drop_column_list = []

for column in df.columns:
    if re.search('시각', column):
        drop_column_list.append(column)
        
# 시각이 포함된 컬럼과 필요없는 컬럼 삭제
d_df = df.drop(drop_column_list, axis = 1)
d_df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr)
0,90,속초,2016-01-01,3.6,-2.3,7.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,속초,2016-01-02,8.4,5.0,11.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90,속초,2016-01-03,6.7,2.4,9.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,속초,2016-01-04,5.4,0.8,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90,속초,2016-01-05,0.6,-2.6,4.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,295,남해,2023-07-27,27.1,23.4,32.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251854,295,남해,2023-07-28,26.7,23.9,30.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251855,295,남해,2023-07-29,27.7,23.1,32.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251856,295,남해,2023-07-30,27.0,23.3,32.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251857,295,남해,2023-07-31,27.9,23.4,33.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 강수, 적설은 비, 눈이 오지 않는 경우 결측치로 채워지는 것으로 파악됨
# 강수 시간 또한 강수가 없을 경우 0이 됨으로 0으로 채움
# 그래서 결측치를 0으로 채워준다.

import re

#  강수, 적설 포함된 컬럼 추출
drop_column_list = []

for column in d_df.columns:
    if re.search('강수', column) or re.search('적설', column):
        drop_column_list.append(column)

# 시간을 제외한 나머지 컬럼의 결측치를 0으로 채움
for column in drop_column_list:
    d_df[column].fillna(0, inplace = True)
    
d_df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr)
0,90,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,90,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,90,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,90,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,90,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,295,남해,2023-07-27,27.1,23.4,32.4,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
251854,295,남해,2023-07-28,26.7,23.9,30.8,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
251855,295,남해,2023-07-29,27.7,23.1,32.9,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
251856,295,남해,2023-07-30,27.0,23.3,32.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
251857,295,남해,2023-07-31,27.9,23.4,33.5,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [6]:
# 강수, 적설을 0으로 결측치를 채운 후 다른 결측치 확인

for idx, column in enumerate(d_df.columns):
    print(f'{idx + 1}. {column} : {d_df[column].isnull().sum()}개')

1. 지점 : 0개
2. 지점명 : 0개
3. 일시 : 0개
4. 평균기온(°C) : 357개
5. 최저기온(°C) : 97개
6. 최고기온(°C) : 94개
7. 강수 계속시간(hr) : 0개
8. 10분 최다 강수량(mm) : 0개
9. 1시간 최다강수량(mm) : 0개
10. 일강수량(mm) : 0개
11. 최대 순간 풍속(m/s) : 232개
12. 최대 순간 풍속 풍향(16방위) : 227개
13. 최대 풍속(m/s) : 238개
14. 최대 풍속 풍향(16방위) : 223개
15. 평균 풍속(m/s) : 283개
16. 풍정합(100m) : 304개
17. 최다풍향(16방위) : 638개
18. 평균 이슬점온도(°C) : 513개
19. 최소 상대습도(%) : 154개
20. 평균 상대습도(%) : 514개
21. 평균 증기압(hPa) : 516개
22. 평균 현지기압(hPa) : 383개
23. 최고 해면기압(hPa) : 136개
24. 최저 해면기압(hPa) : 195개
25. 평균 해면기압(hPa) : 401개
26. 가조시간(hr) : 35개
27. 합계 일조시간(hr) : 544개
28. 1시간 최다일사량(MJ/m2) : 135468개
29. 합계 일사량(MJ/m2) : 135474개
30. 일 최심신적설(cm) : 0개
31. 일 최심적설(cm) : 0개
32. 합계 3시간 신적설(cm) : 0개
33. 평균 전운량(1/10) : 68401개
34. 평균 중하층운량(1/10) : 73059개
35. 평균 지면온도(°C) : 242개
36. 최저 초상온도(°C) : 332개
37. 평균 5cm 지중온도(°C) : 178281개
38. 평균 10cm 지중온도(°C) : 178242개
39. 평균 20cm 지중온도(°C) : 178178개
40. 평균 30cm 지중온도(°C) : 178217개
41. 0.5m 지중온도(°C) : 218941개
42. 1.0m 지중온도(°C) : 218937개
43. 1.5m 지중온도(°C) : 218938개
44. 3.0m 지중온도(°C) : 218939개
45. 5.0m 지중온도(°C) : 218948개
46. 합계 대형증발량(mm) : 141334개
47. 합계 소형증발량(mm) : 139848개
48. 9-9강수(mm) : 0개
49. 기사 : 212454개
50. 안개 계속시간(hr) : 247477개

In [7]:
# 결측치가 50퍼센트가 넘는 컬럼 결측치 확인하기

nan_50_list = []

for idx, column in enumerate(d_df.columns):
    if (d_df[column].isnull().sum() / len(d_df)) >= 0.5:
        print(f'{idx + 1}. {column} : {d_df[column].isnull().sum()}개')
        nan_50_list.append(column)

28. 1시간 최다일사량(MJ/m2) : 135468개
29. 합계 일사량(MJ/m2) : 135474개
37. 평균 5cm 지중온도(°C) : 178281개
38. 평균 10cm 지중온도(°C) : 178242개
39. 평균 20cm 지중온도(°C) : 178178개
40. 평균 30cm 지중온도(°C) : 178217개
41. 0.5m 지중온도(°C) : 218941개
42. 1.0m 지중온도(°C) : 218937개
43. 1.5m 지중온도(°C) : 218938개
44. 3.0m 지중온도(°C) : 218939개
45. 5.0m 지중온도(°C) : 218948개
46. 합계 대형증발량(mm) : 141334개
47. 합계 소형증발량(mm) : 139848개
49. 기사 : 212454개
50. 안개 계속시간(hr) : 247477개

In [8]:
# 결측치가 50퍼센트가 넘는 컬럼 삭제하기

d_df.drop(nan_50_list, axis = 1, inplace = True)
d_df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),...,가조시간(hr),합계 일조시간(hr),일 최심신적설(cm),일 최심적설(cm),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm)
0,90,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,0.0,0.0,...,9.6,8.7,0.0,0.0,0.0,NaN,NaN,1.4,-6.6,0.0
1,90,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,0.0,0.0,...,9.6,8.2,0.0,0.0,0.0,NaN,NaN,5.4,3.3,0.0
2,90,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,0.0,0.0,...,9.6,5.2,0.0,0.0,0.0,NaN,NaN,5.0,-0.2,0.0
3,90,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,0.0,0.0,...,9.6,8.4,0.0,0.0,0.0,NaN,NaN,4.2,-1.7,0.0
4,90,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,0.0,0.0,...,9.6,8.3,0.0,0.0,0.0,NaN,NaN,1.3,-7.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,295,남해,2023-07-27,27.1,23.4,32.4,0.0,0.0,0.0,0.0,...,14.0,8.6,0.0,0.0,0.0,5.0,1.5,31.2,22.7,0.0
251854,295,남해,2023-07-28,26.7,23.9,30.8,0.0,0.0,0.0,0.0,...,14.0,2.3,0.0,0.0,0.0,7.5,0.8,29.5,22.7,0.0
251855,295,남해,2023-07-29,27.7,23.1,32.9,0.0,0.0,0.0,0.0,...,14.0,10.4,0.0,0.0,0.0,2.4,1.1,31.3,21.9,0.0
251856,295,남해,2023-07-30,27.0,23.3,32.0,0.0,0.0,0.0,0.0,...,14.0,9.3,0.0,0.0,0.0,3.5,0.9,30.7,22.1,0.0
251857,295,남해,2023-07-31,27.9,23.4,33.5,0.0,0.0,0.0,0.0,...,13.9,10.7,0.0,0.0,0.0,4.1,0.4,32.5,22.4,0.0

In [9]:
# 결측치 확인

for idx, column in enumerate(d_df.columns):
    print(f'{idx + 1}. {column} : {d_df[column].isnull().sum()}개')

1. 지점 : 0개
2. 지점명 : 0개
3. 일시 : 0개
4. 평균기온(°C) : 357개
5. 최저기온(°C) : 97개
6. 최고기온(°C) : 94개
7. 강수 계속시간(hr) : 0개
8. 10분 최다 강수량(mm) : 0개
9. 1시간 최다강수량(mm) : 0개
10. 일강수량(mm) : 0개
11. 최대 순간 풍속(m/s) : 232개
12. 최대 순간 풍속 풍향(16방위) : 227개
13. 최대 풍속(m/s) : 238개
14. 최대 풍속 풍향(16방위) : 223개
15. 평균 풍속(m/s) : 283개
16. 풍정합(100m) : 304개
17. 최다풍향(16방위) : 638개
18. 평균 이슬점온도(°C) : 513개
19. 최소 상대습도(%) : 154개
20. 평균 상대습도(%) : 514개
21. 평균 증기압(hPa) : 516개
22. 평균 현지기압(hPa) : 383개
23. 최고 해면기압(hPa) : 136개
24. 최저 해면기압(hPa) : 195개
25. 평균 해면기압(hPa) : 401개
26. 가조시간(hr) : 35개
27. 합계 일조시간(hr) : 544개
28. 일 최심신적설(cm) : 0개
29. 일 최심적설(cm) : 0개
30. 합계 3시간 신적설(cm) : 0개
31. 평균 전운량(1/10) : 68401개
32. 평균 중하층운량(1/10) : 73059개
33. 평균 지면온도(°C) : 242개
34. 최저 초상온도(°C) : 332개
35. 9-9강수(mm) : 0개

In [10]:
# 풍향, 운량 컬럼 삭제

fid = []

for column in d_df.columns:
    if re.search('풍향', column) or re.search('운량', column):
        fid.append(column)
    
# + 지점, 풍접합도 드랍
d_df.drop(fid + ['지점', '풍정합(100m)'], axis = 1, inplace = True)
d_df

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,최저 해면기압(hPa),평균 해면기압(hPa),가조시간(hr),합계 일조시간(hr),일 최심신적설(cm),일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm)
0,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,0.0,0.0,13.7,...,1022.5,1026.5,9.6,8.7,0.0,0.0,0.0,1.4,-6.6,0.0
1,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,0.0,0.0,18.0,...,1017.1,1019.2,9.6,8.2,0.0,0.0,0.0,5.4,3.3,0.0
2,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,0.0,0.0,8.8,...,1016.2,1017.8,9.6,5.2,0.0,0.0,0.0,5.0,-0.2,0.0
3,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,0.0,0.0,12.1,...,1016.2,1019.4,9.6,8.4,0.0,0.0,0.0,4.2,-1.7,0.0
4,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,0.0,0.0,10.2,...,1022.0,1023.7,9.6,8.3,0.0,0.0,0.0,1.3,-7.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,남해,2023-07-27,27.1,23.4,32.4,0.0,0.0,0.0,0.0,4.3,...,1013.5,1014.8,14.0,8.6,0.0,0.0,0.0,31.2,22.7,0.0
251854,남해,2023-07-28,26.7,23.9,30.8,0.0,0.0,0.0,0.0,3.9,...,1013.4,1014.7,14.0,2.3,0.0,0.0,0.0,29.5,22.7,0.0
251855,남해,2023-07-29,27.7,23.1,32.9,0.0,0.0,0.0,0.0,3.7,...,1013.2,1014.5,14.0,10.4,0.0,0.0,0.0,31.3,21.9,0.0
251856,남해,2023-07-30,27.0,23.3,32.0,0.0,0.0,0.0,0.0,5.4,...,1012.0,1013.8,14.0,9.3,0.0,0.0,0.0,30.7,22.1,0.0
251857,남해,2023-07-31,27.9,23.4,33.5,0.0,0.0,0.0,0.0,3.4,...,1010.6,1012.5,13.9,10.7,0.0,0.0,0.0,32.5,22.4,0.0

In [11]:
# 결측치 확인

for idx, column in enumerate(d_df.columns):
    print(f'{idx + 1}. {column} : {d_df[column].isnull().sum()}개')

1. 지점명 : 0개
2. 일시 : 0개
3. 평균기온(°C) : 357개
4. 최저기온(°C) : 97개
5. 최고기온(°C) : 94개
6. 강수 계속시간(hr) : 0개
7. 10분 최다 강수량(mm) : 0개
8. 1시간 최다강수량(mm) : 0개
9. 일강수량(mm) : 0개
10. 최대 순간 풍속(m/s) : 232개
11. 최대 풍속(m/s) : 238개
12. 평균 풍속(m/s) : 283개
13. 평균 이슬점온도(°C) : 513개
14. 최소 상대습도(%) : 154개
15. 평균 상대습도(%) : 514개
16. 평균 증기압(hPa) : 516개
17. 평균 현지기압(hPa) : 383개
18. 최고 해면기압(hPa) : 136개
19. 최저 해면기압(hPa) : 195개
20. 평균 해면기압(hPa) : 401개
21. 가조시간(hr) : 35개
22. 합계 일조시간(hr) : 544개
23. 일 최심신적설(cm) : 0개
24. 일 최심적설(cm) : 0개
25. 합계 3시간 신적설(cm) : 0개
26. 평균 지면온도(°C) : 242개
27. 최저 초상온도(°C) : 332개
28. 9-9강수(mm) : 0개

In [12]:
import numpy as np

# 평균기온, 최저기온, 최고기온의 결측치를 전날, 다음날의 평균기온의 평균으로 결측치 채움


for columns in ['평균기온(°C)', '최저기온(°C)', '최고기온(°C)']:
    idx_list = d_df[d_df[columns].isnull()].index

    for idx in idx_list:
        if idx == 0:
            i = 1
            while True:
                    if str(d_df[columns][idx + 1]) != 'nan':
                        d_df[columns][idx] = d_df[columns][idx + i]
                        break
                    else:
                        i += 1
        elif idx == (len(d_df) - 1):
            d_df[columns][idx] = d_df[columns][idx - 1]
        else:
            i = 1
            while True:
                    if str(d_df[columns][idx + i]) != 'nan':

                        d_df[columns][idx] = round((d_df[columns][idx - 1] + d_df[columns][idx + i]) / 2, 2)
                        break
                    else:
                        i += 1

C:\Users\knzss\AppData\Local\Temp\ipykernel_15800\1646740355.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_df[columns][idx] = round((d_df[columns][idx - 1] + d_df[columns][idx + i]) / 2, 2)

In [13]:
# 평균 기온의 결측치 확인
d_df[['평균기온(°C)', '최저기온(°C)', '최고기온(°C)']].isnull().sum()

평균기온(°C)    0
최저기온(°C)    0
최고기온(°C)    0
dtype: int64

In [14]:
# 결측치 확인

for idx, column in enumerate(d_df.columns):
    print(f'{idx + 1}. {column} : {d_df[column].isnull().sum()}개')

1. 지점명 : 0개
2. 일시 : 0개
3. 평균기온(°C) : 0개
4. 최저기온(°C) : 0개
5. 최고기온(°C) : 0개
6. 강수 계속시간(hr) : 0개
7. 10분 최다 강수량(mm) : 0개
8. 1시간 최다강수량(mm) : 0개
9. 일강수량(mm) : 0개
10. 최대 순간 풍속(m/s) : 232개
11. 최대 풍속(m/s) : 238개
12. 평균 풍속(m/s) : 283개
13. 평균 이슬점온도(°C) : 513개
14. 최소 상대습도(%) : 154개
15. 평균 상대습도(%) : 514개
16. 평균 증기압(hPa) : 516개
17. 평균 현지기압(hPa) : 383개
18. 최고 해면기압(hPa) : 136개
19. 최저 해면기압(hPa) : 195개
20. 평균 해면기압(hPa) : 401개
21. 가조시간(hr) : 35개
22. 합계 일조시간(hr) : 544개
23. 일 최심신적설(cm) : 0개
24. 일 최심적설(cm) : 0개
25. 합계 3시간 신적설(cm) : 0개
26. 평균 지면온도(°C) : 242개
27. 최저 초상온도(°C) : 332개
28. 9-9강수(mm) : 0개

In [15]:
# 연, 월, 일 컬럼 추가
# 일시 컬럼은 merge이후에 삭제

year_list = []
month_list = []
date_list = []

for idx in range(len(d_df)):
    year, month, date = d_df['일시'][idx].split('-')
    year_list.append(int(year))
    month_list.append(int(month))
    date_list.append(int(date))

print(len(year_list), len(month_list), len(date_list), len(d_df))

values_list = [year_list, month_list, date_list]

for idx, column in enumerate(['연', '월', '일']):
    d_df[column] = values_list[idx]

251858 251858 251858 251858

In [16]:
d_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251858 entries, 0 to 251857
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   지점명             251858 non-null  object
 1   일시              251858 non-null  object
 2   평균기온(°C)        251858 non-null  float64
 3   최저기온(°C)        251858 non-null  float64
 4   최고기온(°C)        251858 non-null  float64
 5   강수 계속시간(hr)     251858 non-null  float64
 6   10분 최다 강수량(mm)  251858 non-null  float64
 7   1시간 최다강수량(mm)   251858 non-null  float64
 8   일강수량(mm)        251858 non-null  float64
 9   최대 순간 풍속(m/s)   251626 non-null  float64
 10  최대 풍속(m/s)      251620 non-null  float64
 11  평균 풍속(m/s)      251575 non-null  float64
 12  평균 이슬점온도(°C)    251345 non-null  float64
 13  최소 상대습도(%)      251704 non-null  float64
 14  평균 상대습도(%)      251344 non-null  float64
 15  평균 증기압(hPa)     251342 non-null  float64
 16  평균 현지기압(hPa)    251475 non-null  float64
 17  최고 해면기압(hPa)    251722 non-null  float64
 18  최저 해면기압(hPa)    251663 non-null  float64
 19  평균 해면기압(hPa)    251457 non-null  float64
 20  가조시간(hr)        251823 non-null  float64
 21  합계 일조시간(hr)     251314 non-null  float64
 22  일 최심신적설(cm)     251858 non-null  float64
 23  일 최심적설(cm)      251858 non-null  float64
 24  합계 3시간 신적설(cm)  251858 non-null  float64
 25  평균 지면온도(°C)     251616 non-null  float64
 26  최저 초상온도(°C)     251526 non-null  float64
 27  9-9강수(mm)       251858 non-null  float64
 28  연               251858 non-null  int64
 29  월               251858 non-null  int64
 30  일               251858 non-null  int64
dtypes: float64(26), int64(3), object(2)
memory usage: 59.6+ MB

In [23]:
count = 0
l = []

for idx, gang_su in enumerate(d_df['일강수량(mm)'].values):
    if idx == 0:
        if gang_su != 0:
            l.append(1)
        else:
            l.append(0)
        continue
        
    if gang_su != 0:
        l.append(1 + l[idx - 1])
    else:
        l.append(0)

In [26]:
len(d_df), len(l)

(251858, 251858)

In [27]:
d_df['연속강수'] = l

In [28]:
end_df = d_df.copy()
end_df

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심신적설(cm),일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수
0,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,0.0,0.0,13.7,...,0.0,0.0,0.0,1.4,-6.6,0.0,2016,1,1,0
1,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,0.0,0.0,18.0,...,0.0,0.0,0.0,5.4,3.3,0.0,2016,1,2,0
2,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,0.0,0.0,8.8,...,0.0,0.0,0.0,5.0,-0.2,0.0,2016,1,3,0
3,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,0.0,0.0,12.1,...,0.0,0.0,0.0,4.2,-1.7,0.0,2016,1,4,0
4,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,0.0,0.0,10.2,...,0.0,0.0,0.0,1.3,-7.3,0.0,2016,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,남해,2023-07-27,27.1,23.4,32.4,0.0,0.0,0.0,0.0,4.3,...,0.0,0.0,0.0,31.2,22.7,0.0,2023,7,27,0
251854,남해,2023-07-28,26.7,23.9,30.8,0.0,0.0,0.0,0.0,3.9,...,0.0,0.0,0.0,29.5,22.7,0.0,2023,7,28,0
251855,남해,2023-07-29,27.7,23.1,32.9,0.0,0.0,0.0,0.0,3.7,...,0.0,0.0,0.0,31.3,21.9,0.0,2023,7,29,0
251856,남해,2023-07-30,27.0,23.3,32.0,0.0,0.0,0.0,0.0,5.4,...,0.0,0.0,0.0,30.7,22.1,0.0,2023,7,30,0
251857,남해,2023-07-31,27.9,23.4,33.5,0.0,0.0,0.0,0.0,3.4,...,0.0,0.0,0.0,32.5,22.4,0.0,2023,7,31,0

In [29]:
end_df[end_df['연속강수'] != 0]

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심신적설(cm),일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수
28,속초,2016-01-29,-0.3,-2.1,1.3,0.0,0.0,0.0,2.9,8.4,...,0.0,0.0,0.0,-0.4,-4.2,0.0,2016,1,29,1
29,속초,2016-01-30,-0.9,-1.8,-0.2,0.0,0.0,0.0,3.7,6.7,...,0.0,0.0,0.0,0.2,-0.4,0.0,2016,1,30,2
36,속초,2016-02-06,-3.6,-6.7,-0.8,0.0,0.0,0.0,4.3,10.0,...,0.0,0.0,0.0,-1.3,-8.8,0.0,2016,2,6,1
39,속초,2016-02-09,1.8,-2.2,5.3,0.0,0.0,0.0,1.1,13.4,...,0.0,0.0,0.0,0.7,-5.8,0.0,2016,2,9,1
42,속초,2016-02-12,2.7,1.6,3.7,0.0,0.0,0.0,2.7,6.9,...,0.0,0.0,0.0,1.8,1.3,0.0,2016,2,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251848,남해,2023-07-22,24.2,21.5,27.3,0.0,0.8,3.0,4.3,5.3,...,0.0,0.0,0.0,26.1,20.0,0.0,2023,7,22,1
251849,남해,2023-07-23,27.0,25.3,28.2,0.0,3.4,7.2,13.4,11.4,...,0.0,0.0,0.0,27.2,25.0,0.0,2023,7,23,2
251850,남해,2023-07-24,25.9,23.7,28.4,0.0,3.0,6.1,17.0,11.7,...,0.0,0.0,0.0,26.7,23.2,0.0,2023,7,24,3
251851,남해,2023-07-25,25.9,23.4,29.7,0.0,4.2,4.7,4.7,6.4,...,0.0,0.0,0.0,29.4,22.9,0.0,2023,7,25,4
251852,남해,2023-07-26,26.0,22.7,30.5,0.0,15.0,39.9,42.5,6.0,...,0.0,0.0,0.0,29.2,22.3,0.0,2023,7,26,5

In [30]:
# merge를 위해 지점명을 지역으로 일시를 날짜로 변경
end_df.rename(columns={'지점명' : '지역', '일시' : '날짜'}, inplace=True)

In [31]:
end_df

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심신적설(cm),일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수
0,속초,2016-01-01,3.6,-2.3,7.6,0.0,0.0,0.0,0.0,13.7,...,0.0,0.0,0.0,1.4,-6.6,0.0,2016,1,1,0
1,속초,2016-01-02,8.4,5.0,11.5,0.0,0.0,0.0,0.0,18.0,...,0.0,0.0,0.0,5.4,3.3,0.0,2016,1,2,0
2,속초,2016-01-03,6.7,2.4,9.8,0.0,0.0,0.0,0.0,8.8,...,0.0,0.0,0.0,5.0,-0.2,0.0,2016,1,3,0
3,속초,2016-01-04,5.4,0.8,9.0,0.0,0.0,0.0,0.0,12.1,...,0.0,0.0,0.0,4.2,-1.7,0.0,2016,1,4,0
4,속초,2016-01-05,0.6,-2.6,4.4,0.0,0.0,0.0,0.0,10.2,...,0.0,0.0,0.0,1.3,-7.3,0.0,2016,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251853,남해,2023-07-27,27.1,23.4,32.4,0.0,0.0,0.0,0.0,4.3,...,0.0,0.0,0.0,31.2,22.7,0.0,2023,7,27,0
251854,남해,2023-07-28,26.7,23.9,30.8,0.0,0.0,0.0,0.0,3.9,...,0.0,0.0,0.0,29.5,22.7,0.0,2023,7,28,0
251855,남해,2023-07-29,27.7,23.1,32.9,0.0,0.0,0.0,0.0,3.7,...,0.0,0.0,0.0,31.3,21.9,0.0,2023,7,29,0
251856,남해,2023-07-30,27.0,23.3,32.0,0.0,0.0,0.0,0.0,5.4,...,0.0,0.0,0.0,30.7,22.1,0.0,2023,7,30,0
251857,남해,2023-07-31,27.9,23.4,33.5,0.0,0.0,0.0,0.0,3.4,...,0.0,0.0,0.0,32.5,22.4,0.0,2023,7,31,0

In [32]:
tmt_df = pd.read_csv('오이_합.csv', encoding = 'cp949')
tmt_df

        구분              품목    당일     1주전    1개월전     1년전          날짜
0       서울  토마토(토마토) / 1kg  3875  3739.0  3014.0  4379.0  2016-01-01
1       부산  토마토(토마토) / 1kg  3800  3800.0  3333.0  4133.0  2016-01-01
2       대구  토마토(토마토) / 1kg  4597  4097.0  3060.0  4749.0  2016-01-01
3       인천  토마토(토마토) / 1kg  3500  3500.0  4020.0  4250.0  2016-01-01
4       광주  토마토(토마토) / 1kg  3910  3910.0  2997.0  4660.0  2016-01-01
...    ...             ...   ...     ...     ...     ...         ...
51635   포항  토마토(토마토) / 1kg  5745  5995.0    4025    7218  2023-07-31
51636   안동  토마토(토마토) / 1kg  6140  6140.0    4600    5750  2023-07-31
51637   창원  토마토(토마토) / 1kg  5900  5900.0    4465    6210  2023-07-31
51638  김해시  토마토(토마토) / 1kg  7360  8410.0       -       -  2023-07-31
51639   제주  토마토(토마토) / 1kg  4550  4550.0    4630    5376  2023-07-31

[51640 rows x 7 columns]

In [33]:
# tmt_d_df = tmt_df.drop(['품목', '1주전', '1개월전', '1년전'], axis = 1)
# tmt_d_df

        구분    당일          날짜
0       서울  3875  2016-01-01
1       부산  3800  2016-01-01
2       대구  4597  2016-01-01
3       인천  3500  2016-01-01
4       광주  3910  2016-01-01
...    ...   ...         ...
51635   포항  5745  2023-07-31
51636   안동  6140  2023-07-31
51637   창원  5900  2023-07-31
51638  김해시  7360  2023-07-31
51639   제주  4550  2023-07-31

[51640 rows x 3 columns]

In [34]:
tmt_d_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51640 entries, 0 to 51639
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      51640 non-null  object
 1   당일      51640 non-null  object
 2   날짜      51640 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [35]:
# merge를 위해 구분을 지역으로 당일을 가격으로 변경
tmt_d_df.rename(columns={'구분' : '지역', '당일' : '가격'}, inplace=True)
tmt_d_df

        지역    가격          날짜
0       서울  3875  2016-01-01
1       부산  3800  2016-01-01
2       대구  4597  2016-01-01
3       인천  3500  2016-01-01
4       광주  3910  2016-01-01
...    ...   ...         ...
51635   포항  5745  2023-07-31
51636   안동  6140  2023-07-31
51637   창원  5900  2023-07-31
51638  김해시  7360  2023-07-31
51639   제주  4550  2023-07-31

[51640 rows x 3 columns]

In [36]:
# 지역과 날짜를 기준으로 merge
# 매칭되지 않는 열들은 알아서 빠짐
# 공통된 원소끼리 합쳐지는 것임

merge_df = pd.merge(end_df, tmt_d_df)
merge_df

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수,가격
0,춘천,2016-01-01,-1.7,-5.8,2.3,0.0,0.0,0.0,0.0,4.1,...,0.0,0.0,-0.4,-11.3,0.0,2016,1,1,0,5380
1,춘천,2016-01-02,2.7,0.0,7.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.7,-4.2,0.0,2016,1,2,0,5380
2,춘천,2016-01-03,2.0,-0.2,7.2,0.0,0.0,0.0,0.0,2.1,...,0.0,0.0,1.3,-5.3,0.0,2016,1,3,0,5380
3,춘천,2016-01-04,1.4,-2.4,6.7,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,1.4,-7.1,0.0,2016,1,4,0,5380
4,춘천,2016-01-05,-3.1,-7.1,2.9,0.0,0.0,0.0,0.0,6.1,...,0.0,0.0,-0.3,-14.4,0.0,2016,1,5,0,5380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45126,김해시,2023-07-27,28.9,24.6,33.8,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,34.1,23.3,0.0,2023,7,27,0,7360
45127,김해시,2023-07-28,29.4,25.1,34.0,0.0,0.0,0.0,0.0,4.8,...,0.0,0.0,34.3,24.3,0.0,2023,7,28,0,7360
45128,김해시,2023-07-29,29.5,25.1,34.3,0.0,0.0,0.0,0.0,5.4,...,0.0,0.0,34.9,23.5,0.0,2023,7,29,0,7360
45129,김해시,2023-07-30,28.7,24.7,33.5,0.0,0.0,0.0,0.0,6.7,...,0.0,0.0,34.9,23.2,0.0,2023,7,30,0,7360
45130,김해시,2023-07-31,28.8,24.3,34.9,0.0,0.0,0.0,0.0,6.8,...,0.0,0.0,33.9,23.0,0.0,2023,7,31,0,7360

In [37]:
# merge된 데이터 프레임의 결측치 확인

# merge_df.isnull().sum()

지역                 0
날짜                 0
평균기온(°C)           0
최저기온(°C)           0
최고기온(°C)           0
강수 계속시간(hr)        0
10분 최다 강수량(mm)     0
1시간 최다강수량(mm)      0
일강수량(mm)           0
최대 순간 풍속(m/s)     13
최대 풍속(m/s)         9
평균 풍속(m/s)        19
평균 이슬점온도(°C)      23
최소 상대습도(%)         6
평균 상대습도(%)        23
평균 증기압(hPa)       24
평균 현지기압(hPa)      30
최고 해면기압(hPa)      15
최저 해면기압(hPa)      24
평균 해면기압(hPa)      28
가조시간(hr)          11
합계 일조시간(hr)       90
일 최심신적설(cm)        0
일 최심적설(cm)         0
합계 3시간 신적설(cm)     0
평균 지면온도(°C)       15
최저 초상온도(°C)       18
9-9강수(mm)          0
연                  0
월                  0
일                  0
연속강수               0
가격                 0
dtype: int64

In [38]:
# 매칭이 완료된 데이터의 결측치의 개수는 적기에 결측치 행을 삭제

# merge_d_df = merge_df.dropna()
# merge_d_df

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수,가격
0,춘천,2016-01-01,-1.7,-5.8,2.3,0.0,0.0,0.0,0.0,4.1,...,0.0,0.0,-0.4,-11.3,0.0,2016,1,1,0,5380
1,춘천,2016-01-02,2.7,0.0,7.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.7,-4.2,0.0,2016,1,2,0,5380
2,춘천,2016-01-03,2.0,-0.2,7.2,0.0,0.0,0.0,0.0,2.1,...,0.0,0.0,1.3,-5.3,0.0,2016,1,3,0,5380
3,춘천,2016-01-04,1.4,-2.4,6.7,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,1.4,-7.1,0.0,2016,1,4,0,5380
4,춘천,2016-01-05,-3.1,-7.1,2.9,0.0,0.0,0.0,0.0,6.1,...,0.0,0.0,-0.3,-14.4,0.0,2016,1,5,0,5380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45126,김해시,2023-07-27,28.9,24.6,33.8,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,34.1,23.3,0.0,2023,7,27,0,7360
45127,김해시,2023-07-28,29.4,25.1,34.0,0.0,0.0,0.0,0.0,4.8,...,0.0,0.0,34.3,24.3,0.0,2023,7,28,0,7360
45128,김해시,2023-07-29,29.5,25.1,34.3,0.0,0.0,0.0,0.0,5.4,...,0.0,0.0,34.9,23.5,0.0,2023,7,29,0,7360
45129,김해시,2023-07-30,28.7,24.7,33.5,0.0,0.0,0.0,0.0,6.7,...,0.0,0.0,34.9,23.2,0.0,2023,7,30,0,7360
45130,김해시,2023-07-31,28.8,24.3,34.9,0.0,0.0,0.0,0.0,6.8,...,0.0,0.0,33.9,23.0,0.0,2023,7,31,0,7360

In [39]:
# 데이터프레임에서 행을 삭제했기 떄문에 다시 인덱스를 정렬해줌

merge_d_df = merge_d_df.reset_index()
merge_d_df.drop(['index'], axis = 1, inplace = True)
merge_d_df

,지역,날짜,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),최대 순간 풍속(m/s),...,일 최심적설(cm),합계 3시간 신적설(cm),평균 지면온도(°C),최저 초상온도(°C),9-9강수(mm),연,월,일,연속강수,가격
0,춘천,2016-01-01,-1.7,-5.8,2.3,0.0,0.0,0.0,0.0,4.1,...,0.0,0.0,-0.4,-11.3,0.0,2016,1,1,0,5380
1,춘천,2016-01-02,2.7,0.0,7.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.7,-4.2,0.0,2016,1,2,0,5380
2,춘천,2016-01-03,2.0,-0.2,7.2,0.0,0.0,0.0,0.0,2.1,...,0.0,0.0,1.3,-5.3,0.0,2016,1,3,0,5380
3,춘천,2016-01-04,1.4,-2.4,6.7,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,1.4,-7.1,0.0,2016,1,4,0,5380
4,춘천,2016-01-05,-3.1,-7.1,2.9,0.0,0.0,0.0,0.0,6.1,...,0.0,0.0,-0.3,-14.4,0.0,2016,1,5,0,5380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44942,김해시,2023-07-27,28.9,24.6,33.8,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,34.1,23.3,0.0,2023,7,27,0,7360
44943,김해시,2023-07-28,29.4,25.1,34.0,0.0,0.0,0.0,0.0,4.8,...,0.0,0.0,34.3,24.3,0.0,2023,7,28,0,7360
44944,김해시,2023-07-29,29.5,25.1,34.3,0.0,0.0,0.0,0.0,5.4,...,0.0,0.0,34.9,23.5,0.0,2023,7,29,0,7360
44945,김해시,2023-07-30,28.7,24.7,33.5,0.0,0.0,0.0,0.0,6.7,...,0.0,0.0,34.9,23.2,0.0,2023,7,30,0,7360
44946,김해시,2023-07-31,28.8,24.3,34.9,0.0,0.0,0.0,0.0,6.8,...,0.0,0.0,33.9,23.0,0.0,2023,7,31,0,7360

In [40]:
merge_d_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44947 entries, 0 to 44946
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   지역              44947 non-null  object
 1   날짜              44947 non-null  object
 2   평균기온(°C)        44947 non-null  float64
 3   최저기온(°C)        44947 non-null  float64
 4   최고기온(°C)        44947 non-null  float64
 5   강수 계속시간(hr)     44947 non-null  float64
 6   10분 최다 강수량(mm)  44947 non-null  float64
 7   1시간 최다강수량(mm)   44947 non-null  float64
 8   일강수량(mm)        44947 non-null  float64
 9   최대 순간 풍속(m/s)   44947 non-null  float64
 10  최대 풍속(m/s)      44947 non-null  float64
 11  평균 풍속(m/s)      44947 non-null  float64
 12  평균 이슬점온도(°C)    44947 non-null  float64
 13  최소 상대습도(%)      44947 non-null  float64
 14  평균 상대습도(%)      44947 non-null  float64
 15  평균 증기압(hPa)     44947 non-null  float64
 16  평균 현지기압(hPa)    44947 non-null  float64
 17  최고 해면기압(hPa)    44947 non-null  float64
 18  최저 해면기압(hPa)    44947 non-null  float64
 19  평균 해면기압(hPa)    44947 non-null  float64
 20  가조시간(hr)        44947 non-null  float64
 21  합계 일조시간(hr)     44947 non-null  float64
 22  일 최심신적설(cm)     44947 non-null  float64
 23  일 최심적설(cm)      44947 non-null  float64
 24  합계 3시간 신적설(cm)  44947 non-null  float64
 25  평균 지면온도(°C)     44947 non-null  float64
 26  최저 초상온도(°C)     44947 non-null  float64
 27  9-9강수(mm)       44947 non-null  float64
 28  연               44947 non-null  int64
 29  월               44947 non-null  int64
 30  일               44947 non-null  int64
 31  연속강수            44947 non-null  int64
 32  가격              44947 non-null  object
dtypes: float64(26), int64(4), object(3)
memory usage: 11.3+ MB

In [41]:
merge_d_df.isnull().sum()

지역                0
날짜                0
평균기온(°C)          0
최저기온(°C)          0
최고기온(°C)          0
강수 계속시간(hr)       0
10분 최다 강수량(mm)    0
1시간 최다강수량(mm)     0
일강수량(mm)          0
최대 순간 풍속(m/s)     0
최대 풍속(m/s)        0
평균 풍속(m/s)        0
평균 이슬점온도(°C)      0
최소 상대습도(%)        0
평균 상대습도(%)        0
평균 증기압(hPa)       0
평균 현지기압(hPa)      0
최고 해면기압(hPa)      0
최저 해면기압(hPa)      0
평균 해면기압(hPa)      0
가조시간(hr)          0
합계 일조시간(hr)       0
일 최심신적설(cm)       0
일 최심적설(cm)        0
합계 3시간 신적설(cm)    0
평균 지면온도(°C)       0
최저 초상온도(°C)       0
9-9강수(mm)         0
연                 0
월                 0
일                 0
연속강수              0
가격                0
dtype: int64

In [42]:
d_index = merge_d_df[merge_d_df['가격'] == '-'].index

In [ ]:
merge_d_df.drop(d_index, inplace = True)
merge_d_df.to_csv('토마토_전지역.csv', encoding = 'cp949', index_label = False)